$dark_navy:#0D141C;
$navy:#15212e;
$navy80:#434c57;
$navy60:#737a82;
$navy40:#a1a6ac;
$navy20:#d1d3d5;
$gold:#f29c1f;
$gold80:#f3b04d;
$gold60:#f7c579;
$gold40:#f8d6a5;
$gold20:#fbead3;
$blue:#6e8fbf;
$blue80:#8ba5cc;
$blue60:#a9bcd9;
$blue40:#c5d3e5;
$blue20:#e2e7f0;
$gray:#a0a0a5;
$gray80:#c2c2c5;
$gray60:#d1d2d4;
$gray40:#e0e0e3;
$gray20:#f1f1f1;
$white:#ffffff;
$red:#fe6b6b;
