#demo-video {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:12;
    opacity:0;
    visibility:hidden;
    @include transition(300ms);
    &.active {
        opacity:1;
        visibility:visible;
        #demo-video-container {
            @include translate(-50%, -50%);
        }
    }
    #demo-video-background {
        background-color:rgba(21,33,46, 0.7);
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:1;
        #demo-video-close {
            position:absolute;
            top:20px;
            right:20px;
            width:25px;
            height:25px;
            background-image:url('images/icon-close-white.png');
            background-size:100%;
            background-position:center center;
            background-repeat:no-repeat;
        }
    }
    #demo-video-container {
        position:absolute;
        z-index:2;
        top:50%;
        left:50%;
        @include translate(-50%, -40%);
        width:90%;
        aspect-ratio:16 / 9;
        background-color:$dark-navy;
        box-shadow:0 10px 20px rgba(13, 20, 28, 0.7), 0 6px 6px rgba(13, 20, 28, 1);
        @include border-radius(10px);
        @include transition(300ms);
        overflow:hidden;
        video {
            width:100%;
            height:auto;
            aspect-ratio:16 / 9;
        }
    }
}