input, textarea {
    background-color:transparent;
    border:1px solid $navy40;
    height:45px;
    line-height:45px;
    @include border-radius(5px);
    color:$navy40;
    font-family: 'Avenir', sans-serif;
    padding:0 15px;
    box-sizing:border-box;
}
input {
    padding:0 15px;
}
textarea {
    padding:15px;
}
select {
    /* Reset Browser Defaults */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 45px;
    padding: 8px 30px 8px 12px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color:$navy40;
    background-color:transparent;
    border:1px solid $navy40;
    @include border-radius(5px);
    cursor: pointer;
    background-image:url('images/icon-select-navy40.png');
    background-size:15px;
    background-position:right 10px center;
    background-repeat:no-repeat;
}
select option {
    font-size: 16px;
    background-color:transparent;
    color: #333;
}