/*------------------------------------*\
    Translations/Transitions
\*------------------------------------*/
@mixin translate($x, $y) {
    -moz-transform: translateX($x) translateY($y);
    -webkit-transform: translateX($x) translateY($y);
    -o-transform: translateX($x) translateY($y);
    -ms-transform: translateX($x) translateY($y);
    transform: translateX($x) translateY($y);
  }
  @mixin transition($duration) {
    -webkit-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
    -moz-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
    -o-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
    transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
  }
  @mixin scale($scale) {
    -moz-transform: scale($scale);
    -webkit-transform: scale($scale);
    -o-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
  }
  @mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
  }
/*------------------------------------*\
    Design
\*------------------------------------*/
@mixin border-radius($amount) {
    -webkit-border-radius: $amount;
    border-radius: $amount;
}
/*------------------------------------*\
    Responsive
\*------------------------------------*/
@mixin mq($width) {
  @media only screen and (max-width:$width) {
    @content;
  }
}
@mixin responsive-text() {
  @include mq(1000px) {
    font-size:15px;
  }
  @include mq(800px) {
    font-size:14px;
  }
  @include mq(600px) {
    font-size:12px;
  }
}

