html {
    height:100%;
}
body {
    background:$dark_navy;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
#page-wrapper {
    overflow:hidden;
    width:calc(100%);
    position:relative;
    padding-top:125px;
    @include mq(1000px) {
        padding-top:100px;
    }
    @include mq(800px) {
        padding-top:80px;
    }
    @include mq(600px) {
        padding-top:60px;
    }
    .page-gradient {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:800px;
        z-index:-1;
        &:before, &:after {
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            opacity:0.4;
            background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
        }
        &:before {
            left:-50%;
        }
        &:after {
            right:-50%;
        }
    }
}
.inner-wrapper {
    width:100%;
    padding:0 30px;
    box-sizing:border-box;
    max-width:1440px;
    position:relative;
    left:50%;
    @include translate(-50%, 0);
    @include mq(1000px) {
        padding:0 20px;
    }
    @include mq(800px) {
        padding:0 10px;
    }
}
.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
.col-1-4, .col-1-3, .col-1-2, .col-2-3 {
    float:left;
}
.col-1-4 {
    width:25%;
}
.col-1-3 {
    width:33.33%;
}
.col-1-2 {
    width:50%;
}
.col-2-3 {
    width:66.66%;
}
.col-3-4 {
    width:75%;
}