/* 35 Light */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-35-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* 45 Book */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-45-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* 55 Roman */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-55-roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* 65 Medium */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-65-medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* 85 Heavy */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-85-heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/* 95 Black */
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-lt-pro-95-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
html {
    font-size:18px;
}
body {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
}
a {
    font-family: 'Avenir';
    @include transition(300ms);
    color:$blue;
    text-decoration:underline;
    &:hover {
        filter: brightness(1.2);
    }
}
p {
    font-size:16px;
    line-height:20px;
    color:$navy40;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', sans-serif;
    color:$white;
    line-height: normal;
}