.block-faqs {
    padding:50px 0;
    font-size:16px;
    @include responsive-text();
    @include mq(1000px) {
        padding:30px 0;
    }
    @include mq(800px) {
        padding:20px 0;
    }
    @include mq(600px) {
        padding:10px 0;
    }
    .faqs-loader {
        display:none;
        margin-top:60px;
        .loader {
            width: 30px;
            padding: 5px;
            aspect-ratio: 1;
            border-radius: 50%;
            background:$blue;
            position:relative;
            left:calc(50% - 26px);
            --_m: 
                conic-gradient(#0000 10%,#000),
                linear-gradient(#000 0 0) content-box;
            -webkit-mask: var(--_m);
                    mask: var(--_m);
            -webkit-mask-composite: source-out;
                    mask-composite: subtract;
            animation: l3 500ms infinite linear;
        }
        @keyframes l3 {to{transform: rotate(1turn)}}
    }
    h4 {
        color:$white;
        text-align:center;
        font-size:1.5em;
        font-weight:600;
        @include mq(1000px) {
            display:none;
        }
        &:before {
            content:'';
            display:inline-block;
            width:4px;
            height:25px;
            margin-right:10px;
            background-color:$gold;
            @include translate(0, 5px);
            @include border-radius(2px);
        }
    }
    .faqs-filter {
        margin-top:15px;
        text-align:center;
        max-width:1000px;
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        @include mq(1000px) {
            position:absolute;
            top:65px;
            left:20px;
            @include translate(0,0);
            margin:0;
            background-color:$navy;
            z-index:10;
            width:calc(100% - 40px);
            box-sizing: border-box;
            padding:20px;
            @include border-radius(5px);
            opacity:0;
            visibility:hidden;
            @include transition(300ms);
            box-shadow:0 10px 20px rgba(13, 20, 28, 0.7), 0 6px 6px rgba(13, 20, 28, 1);
            border:2px solid $navy80;
            &.active {
                opacity:1;
                visibility:visible;
                top:60px;
            }
        }
        @include mq(800px) {
            left:10px;
            width:calc(100% - 20px);
            padding:10px;
        }
        @include mq(600px) {
            top:55px;
        }
        li {
            display:inline-block;
            background-color:$navy;
            padding:10px 15px;
            margin:5px 3px;
            font-size:1.1em;
            color:$navy40;
            cursor:pointer;
            @include transition(300ms);
            border:2px solid transparent;
            @include border-radius(5px);
            @include mq(1000px) {
                display:block;
                text-align:left;
                padding:5px 10px;
            }
            &:hover {
                color:$white;
                border-color:$navy80;
                @include mq(1000px) {
                    border-color:transparent;
                    color:$navy40;
                }
            }
            &.active {
                border-color:$blue;
                color:$white;
            }
        }
    }
    #faq-filter-trigger {
        display:block;
        background-color:$navy;
        padding:15px;
        //margin:20px;
        font-size:1.1em;
        color:$navy40;
        cursor:pointer;
        @include transition(300ms);
        border:2px solid transparent;
        @include border-radius(5px);
        width:100%;
        box-sizing: border-box;
        color:$white;
        background-image:url('images/icon-select-navy40.png');
        background-size:15px;
        background-position:right 15px center;
        background-repeat:no-repeat;
        display:none;
        border:2px solid $navy80;
        @include mq(1000px) {
            display:block;
        }
        span {
            color:$navy40;
            display:inline-block;
            margin-left:5px;
        }
    }
    .faqs-list {
        margin-top:60px;
        width:100%;
        max-width:1000px;
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        @include mq(1000px) {
            margin-top:20px;
        }
        @include mq(800px) {
            margin-top:10px;
        }
        h3 {
            color:$white;
            font-size:1.5em;
            font-weight:600;
            margin:40px 0 20px 0;
            @include mq(1000px) {
                margin:30px 0 10px 0;
            }
            @include mq(800px) {
                margin:20px 0 10px 0;
            }
            &:before {
                content:'';
                display:inline-block;
                width:4px;
                height:25px;
                margin-right:10px;
                background-color:$gold;
                @include translate(0, 5px);
                @include border-radius(2px);
            }
        }
        .faqs-card {
            border:2px solid $navy80;
            margin-bottom:20px;
            @include border-radius(5px);
            @include transition(300ms);
            position:relative;
            overflow:hidden;
            background-color:$dark_navy;
            @include mq(1000px) {
                margin-bottom:10px;
            }
            @include mq(800px) {
                margin-bottom:5px;
            }
            &:hover {
                border-color:$navy60;
                .gradient {
                    opacity:0.5;
                }
            }
            &.active {
                border-color:$navy60;
                .gradient {
                    opacity:0.5;
                }
                .faqs-card-q {
                    color:$white;
                    span {
                        -moz-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
                .faqs-card-a {
                    max-height:1000px;
                    padding:10px 20px 20px 35px;
                }
            }
            .faqs-card-q {
                color:$navy40;
                font-size:1.1em;
                padding:20px 60px 20px 20px;
                cursor:pointer;
                @include transition(300ms);
                position:relative;
                z-index:2;
                @include mq(800px) {
                    
                }
                &:hover {
                    color:$white;
                }
                span {
                    position:absolute;
                    top:20px;
                    right:20px;
                    width:15px;
                    height:15px;
                    background-image:url('images/icon-arrow-down-gold.png');
                    background-position:center center;
                    background-repeat: no-repeat;
                    background-size:100%;
                    @include transition(300ms);
                }
            }
            .faqs-card-a {
                padding:0;
                font-size:1.1em;
                position:relative;
                transition: height 300ms ease;
                max-height:0;
                overflow:hidden;
                box-sizing:border-box;
                z-index:2;
                p {
                    font-size:1.1em;
                }
                &:before {
                    content:'';
                    width:4px;
                    height:20px;
                    background-color:$gold;
                    display:inline-block;
                    @include border-radius(2px);
                    position:absolute;
                    top:10px;
                    left:20px;
                }
            }
            .gradient {
                position:absolute;
                bottom:0;
                left:50%;
                @include translate(-50%, 0);
                width:125%;
                height:200%;
                z-index:1;
                background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
                opacity:0.3;
                @include transition(300ms);
            }
        }
    }
}