.block-wysiwyg {
    padding:40px 0;
    font-size:16px;
    p {
        color:$navy40;
        margin-bottom:1em;
    }
    h1, h2 {
        color:$white;
        font-weight:600;
        line-height:1.2;
        margin-top:1.5em;
        margin-bottom: 0.5em;
    }
    h1 { font-size: 2.2em; }
    h2 { font-size: 1.8em; }
    h3, h4 {
        color:$gold;
        font-weight:600;
        line-height:1.3;
        margin-top:1.5em;
        margin-bottom:0.5em;
    }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.2em; }
    h5, h6 {
        color:$blue;
        font-weight:600;
        line-height:1.4;
        margin-top:1em;
        margin-bottom:0.5em;
    }
    h5 { font-size: 1.1em; }
    h6 { font-size: 1em; }
    ul, ol {
        color:$navy40;
        padding-left:25px;
        margin:1em 0;
        list-style:disc;
    }
    ul li, ol li {
        margin-bottom:0.5em;
        line-height:1.5;
    }
    a {
        color:$blue;
        text-decoration:underline;
        hover {
            color:$blue;
        }
    }

    a:
    blockquote {
        color:$blue;
        font-style:italic;
        border-left:5px solid $gold;
        padding-left:20px;
        margin:1.5em 0;
    }
    code, pre {
        font-family: monospace;
        background-color:$navy;
        color:$white;
        padding:2px 4px;
        border-radius:3px;
    }
    pre {
        display:block;
        padding:10px;
        white-space:pre-wrap;
        word-break:break-all;
        border:1px solid $navy40;
    }
    strong, b {
        color:$white;
        font-weight:600;
    }
    em, i {
        font-style: italic;
    }
    hr {
        border:0;
        border-top:1px solid $blue;
        margin:2em 0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 1.5em 0;
    }
    th {
        background-color:$navy;
        color:$gold;
        padding:10px;
        border:$navy80;
        text-align:left;
    }
    td {
        padding:10px;
        border:1px solid $navy80;
        color:$navy40;
    }
    .alignleft, img.alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .alignright, img.alignright {
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}