.card-tab-group {
    padding:40px 0;
    .card-tab-group-nav {
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        display:inline-block;
        overflow:hidden;
        margin-bottom:30px;
        li {
            float:left;
            color:$navy40;
            position:relative;
            display:inline-block;
            padding:15px 0;
            margin:0 10px;
            cursor:pointer;
            @include transition(300ms);
            &:after {
                content:'';
                position:absolute;
                bottom:0;
                left:50%;
                @include translate(-50%, 0);
                height:4px;
                background-color:$gold;
                width:0;
                @include transition(300ms);
                @include border-radius(2px);
            }
            &:hover {
                color:$white;
            }
            &.active {
                color:$white;
                &:after {
                    @include transition(300ms);
                    width:100%;
                }
            }
        }
    }
    .card-tab-group-tab {
        display:none;
        font-size:16px;
        &.active {
            display:block;
        }
        .kicker-container {
            overflow:hidden;
            margin-bottom:20px;
            h1, h2, h3, h4, h5, h6 {
                line-height:30px;
            }
            img {
                width:30px;
                float:left;
                vertical-align:middle;
                margin-right:10px;
            }     
        }
        .card-tab-group-card-1 {
            opacity:0;
            overflow:hidden;
            padding:30px;
            @include border-radius(10px);
            box-sizing:border-box;
            border:2px solid $navy80;
            position:relative;
            min-height:500px;
            background-color:$dark_navy;
            &.active {
                animation: slideUp 1000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
            }
            .card-tab-group-card-1-filter {
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:200px;
                background: linear-gradient(to bottom, rgba(13,20,28,0) 0%,rgba(13,20,28,1) 100%);
                z-index:3;
            }
            .card-tab-group-card-1-gradient {
                position:absolute;
                bottom:30px;
                left:50%;
                @include translate(-50%, 0);
                width:200%;
                height:200%;
                z-index:-1;
                background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
                opacity:0.4;
            }
            .card-tab-group-card-1-text {
                width:33.33%;
                float:left;
                position:relative;
                z-index:4;
            }
            .card-tab-group-card-1-image {
                width:calc(66.66% - 80px);
                position:absolute;
                right:30px;
                top:30px;
                z-index:2;
                box-sizing:border-box;
                img {
                    width:100%;
                }
            }
        }
        .flex-row {
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
        }
        .card-tab-group-card-2, .card-tab-group-card-3 {
            overflow:hidden;
            padding:30px;
            width:calc(50% - 15px);
            float:left;
            @include border-radius(10px);
            box-sizing:border-box;
            border:2px solid $navy80;
            position:relative;
            margin-top:30px;
            opacity:0;
            background-color:$dark_navy;
            .card-tab-group-filter {
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:200px;
                background: linear-gradient(to bottom, rgba(13,20,28,0) 0%,rgba(13,20,28,1) 100%);
                z-index:3;
            }
            .card-tab-group-gradient {
                position:absolute;
                bottom:30px;
                left:50%;
                @include translate(-50%, 0);
                width:150%;
                height:200%;
                z-index:-1;
                background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
                opacity:0.4;
            }
            .card-tab-group-card-text {
                width:50%;
                float:left;
                position:relative;
                z-index:4;
            }
            .card-tab-group-card-image {
                width:calc(50% - 50px);
                position:absolute;
                z-index:2;
                right:30px;
                top:30px;
                box-sizing:border-box;
                img {
                    width:100%;
                }
            }
        }
        .card-tab-group-card-2 {
            margin-right:15px;
            &.active {
                animation: slideUp 1000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay:150ms;
            }
        }
        .card-tab-group-card-3 {
            margin-left:15px;
            &.active {
                animation: slideUp 1000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay:300ms;
            }
        }
    }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}