.feature-tab-group {
    font-size:16px;
    padding:40px 30px;
    @include mq(1000px) {
        padding:20px 20px;
    }
    @include mq(800px) {
        padding:20px 10px;
    }
    @include responsive-text();
    .feature-tab-group-trigger {
        display:block;
        background-color:$dark_navy;
        padding:15px;
        font-size:1.1em;
        color:$navy40;
        cursor:pointer;
        @include transition(300ms);
        border:2px solid transparent;
        @include border-radius(5px);
        width:100%;
        box-sizing: border-box;
        color:$white;
        background-image:url('images/icon-select-navy40.png');
        background-size:10px;
        background-position:right 15px center;
        background-repeat:no-repeat;
        display:none;
        border:2px solid $navy80;
        margin-bottom:10px;
        @include mq(1000px) {
            display:block;
        }
        @include mq(600px) {
            padding:15px 10px;
        }
    }
    .feature-tab-group-nav {
        overflow:hidden;
        text-align:center;
        margin-bottom:50px;
        @include mq(1000px) {
            margin-bottom:20px;
        }
        @include mq(1000px) {
            position:absolute;
            top:75px;
            left:20px;
            @include translate(0,0);
            margin:0;
            background-color:$navy;
            z-index:10;
            width:calc(100% - 40px);
            box-sizing: border-box;
            padding:20px;
            @include border-radius(5px);
            opacity:0;
            visibility:hidden;
            @include transition(300ms);
            box-shadow:0 10px 20px rgba(13, 20, 28, 0.7), 0 6px 6px rgba(13, 20, 28, 1);
            border:2px solid $navy80;
            &.active {
                opacity:1;
                visibility:visible;
            }
        }
        @include mq(800px) {
            width:calc(100% - 20px);
            left:10px;
            padding:15px;
        }
        .feature-tab-group-nav-item {
            display:inline-block;
            color:$white;
            line-height:40px;
            margin:0 20px 0 0;
            padding:0 0 10px 0;
            opacity:0.7;
            position:relative;
            @include transition(300ms);
            cursor:pointer;
            @include mq(1000px) {
                float:none;
                display:block;
                margin:0;
                padding:0;
                text-align:left;
            }
            &:after {
                content:'';
                position:absolute;
                bottom:0;
                left:50%;
                @include translate(-50%, 0);
                width:0;
                height:4px;
                background-color:$gold;
                @include border-radius(2px);
                @include transition(300ms);
                @include mq(1000px) {
                    display:none;
                }
            }
            &.active {
                opacity:1;
                &:after {
                    width:100%;
                }
            }
            &:hover {
                opacity:1;
            }
            img {
                width:22px;
                margin-right:10px;
                vertical-align:middle;
            }
        }
    }
    .feature-tab-group-tab {
        display:none;
        &.active {
            display:block;

        }
        .feature-tab-group-tab-text {
            width:25%;
            float:left;
            opacity:0;
            padding-top:30px;
            @include mq(800px) {
                padding-top:20px;
            }
            @include mq(600px) {
                padding-top:10px;
            }
            &.active {
                animation: slideUp 1000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
            }
            @include mq(1000px) {
                width:100%;
                float:none;
                text-align:center;
            }
            h1, h2, h3, h4, h5, h6, p {
                @include mq(1000px) {
                    max-width:100% !important;
                }
                @include mq(800px) {
                    margin-top:10px !important;
                }
            }
            .button-solid-gold {
                margin-top:20px;
                @include mq(1000px) {
                    margin-top:10px;
                }
            }
            .highlights {
                margin-top:20px;
                @include mq(1000px) {
                    text-align:center;
                }
                li {
                    color:$white;
                    margin-bottom:20px;
                    @include mq(1000px) {
                        display:inline-block;
                        width:auto;
                        margin:0 5px 10px 5px;
                    }
                    p {
                        @include mq(1000px) {
                            text-align:left;
                            white-space:nowrap;
                            float:left;
                        }
                        @include mq(800px) {
                            margin:0 !important;
                        }   
                    }
                    img {
                        float:left;
                        vertical-align:middle;
                        width:25px;
                        margin-right:10px;
                        @include mq(1000px) {
                            margin:-5px 5px 0 0;
                        }
                    }
                }
            }
        }
        .feature-tab-group-tab-image {
            width:75%;
            float:left;
            padding-left:30px;
            box-sizing:border-box;
            opacity:0;
            @include mq(1000px) {
                margin-top:20px;
                width:100%;
                float:none;
                padding-left:0;
            }
            &.active {
                animation: slideLeft 1000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay:150ms;
            }
            img {
                width:100%;
            }
        }
    }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}