.block-disclaimers {
    padding:40px 0;
    font-size:16px;
    @include responsive-text();
    @include mq(1000px) {
        padding:30px 0;
    }
    @include mq(800px) {
        padding:20px 0;
    }
    .disclaimers-heading {
        h1, h2, h3, h4, h5, h6, p {
            position:relative;
            padding-left:20px;
            &:before {
                content:'';
                position:absolute;
                top:0;
                left:0;
                height:80%;
                width:4px;
                background-color:$gold;
                @include border-radius(2px);
            }
        }
    }
    .disclaimers-container {
        li {
            margin:15px 0;
        }
    }
}