.block-cards {
    padding:30px 0;
    font-size:16px;
    @include responsive-text();
    @include mq(1000px) {
        padding:20px 0;
    }
    @include mq(800px) {
        padding:10px 0;
    }
    .cards-container {  
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        .card {
            width:calc(50% - 30px);
            float:left;
            box-sizing:border-box;
            border:2px solid $navy80;
            @include border-radius(10px);
            margin:15px;
            padding:30px;
            position:relative;
            overflow:hidden;
            background-color:$dark_navy;
            @include mq(1000px) {
                width:100% !important;
                float:none;
                margin:10px 0;
            }
            @include mq(800px) {
                padding:20px;
            }
            @include mq(600px) {
                padding:15px;
                margin:0 0 10px 0;
            }
            &.under {
                padding-bottom:280px;
                @include mq(600px) {
                    padding-bottom:200px;
                }
            }
            .card-filter {
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:200px;
                background: linear-gradient(to bottom, rgba(13,20,28,0) 0%,rgba(13,20,28,1) 100%);
                z-index:3;
            }
            .card-gradient {
                position:absolute;
                top:-125%;
                left:50%;
                @include translate(-50%, 0);
                width:150%;
                height:200%;
                z-index:1;
                background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
                opacity:0.5;
            }
            .card-text {
                box-sizing:border-box;
                position:relative;
                z-index:4;
                .card-logo {
                    margin-bottom:20px;
                    height:60px;
                    @include mq(800px) {
                        height:50px;
                    }
                    @include mq(600px) {
                        height:40px;
                    }
                    img {
                        width:auto;
                        height:100%;
                        
                    }
                }
                &.aside {
                    width:50%;
                    float:left;
                    padding-right:20px;
                    @include mq(600px) {
                        width:100%;
                        float:none;
                        padding-bottom:350px;
                    }
                }
                .card-button {
                    margin-top:20px;
                    @include mq(1000px) {
                        margin-top:15px;
                    }
                    a {
                        @include mq(600px) {
                            width:100%;
                            max-width:none;
                            padding:0;
                            text-align:center;
                        }
                    }
                }
            }
            .card-image {
                z-index:2;
                &.aside {
                    width:calc(50% - 40px);
                    //aspect-ratio:9 / 16;
                    position:absolute;
                    top:30px;
                    right:30px;
                    @include mq(600px) {
                        top:calc(100% - 350px);
                        right:auto;
                        left:50%;
                        @include translate(-50%, 0);
                        width:75%;
                    }
                    @include mq(400px) {
                        top:calc(100% - 350px);
                        width:90%;
                    }
                }
                &.under {
                    width:calc(100% - 60px);
                    position: absolute;
                    left:30px;
                    top:calc(100% - 250px);
                    @include mq(600px) {
                        top:calc(100% - 190px);
                    }
                    @include mq(400px) {
                        width:calc(100% - 30px);
                        left:15px;
                    }
                }
                img {
                    width:100%;
                }
            }
        }
    }
}