.block-banner {
    padding:30px 0 50px 0;
    position:relative;
    @include mq(800px) {
        padding:20px 0 30px 0;
    }
    @include mq(600px) {
        padding:10px 0 20px 0;
    }
    .swiper {
        width: 100%;
        height:500px;
        overflow:visible;
        @include mq(1000px) {
            height:400px;
        }
        @include mq(800px) {
            height:300px;
        }
        @include mq(600px) {
            height:250px;
        }
        .swiper-wrapper {
            overflow:visible;
        }
        .swiper-wrapper-transition {
            transition-duration: 20s !important; /* Example: 20 seconds for the entire loop */
        }
        .swiper-slide { 
            width: max-content; 
            margin-right: 20px; /* Add spacing between slides */
            img {
                height:500px;
                @include mq(1000px) {
                    height:400px;
                }
                @include mq(800px) {
                    height:300px;
                }
                @include mq(600px) {
                    height:250px;
                }
            }
        }
    }
    .swiper-pagination {
        position:absolute;
        bottom:-40px;
        @include mq(800px) {
            bottom:-30px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            display: inline-block;
            @include border-radius(50%);
            background:$navy60;
            margin: 0 4px;
            @include transition(300ms);
            @include mq(800px) {
                width:10px;
                height:10px;
                margin:0 2px;
            }
        }
        .swiper-pagination-bullet-active {
            background:$blue;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        width: 40px; 
        height: 40px;
        border:1px solid $white;
        @include border-radius(50%);
        color:$white;
        @include mq(800px) {
            width:30px;
            height:30px;
        }
        svg {
            height:20px;
            @include mq(800px) {
                height:15px;
            }
        }
    }
    .swiper-button-next {
        right:20px;
    }
    .swiper-button-prev {
        left:20px;
    }
}