.block-three-column-heading-narrative {
    font-size:16px;
    padding:50px 30px;
    font-size:16px;
    @include responsive-text();
    @include mq(800px) {
        padding:30px 20px;
    }
    @include mq(600px) {
        padding:10px;
    }
    .inner-wrapper {
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        @include mq(600px) {
            display:block;
        }
    }
    .three-column-heading-narrative-column {
        position:relative;
        padding-bottom:70px;
        @include mq(800px) {
            padding-bottom:50px;
        }
        @include mq(600px) {
            padding-bottom:40px;
        }
        &:nth-of-type(1) {
            margin-right:20px;
            width:calc(33.33% - 20px);
            @include mq(600px) {
                width:100%;
                margin:0 0 20px 0;
            }
        }
        &:nth-of-type(2) {
            margin:0 20px 0 20px;
            width:calc(33.33% - 40px);
            @include mq(600px) {
                width:100%;
                margin:0 0 20px 0;
            }
        }
        &:nth-of-type(3) {
            margin-left:20px;
            width:calc(33.33% - 20px);
            @include mq(600px) {
                width:100%;
                margin:0 0 20px 0;
            }
        }
        float:left;
        .first-element {
            position:relative;
            padding-left:15px;
            &:before {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:4px;
                height:100%;
                background-color:$gold;
                @include border-radius(2px);
            }
        }
        .button-outline-white {
            position:absolute;
            bottom:0;
            left:0;
        }
    }
}