.block-contact-form {
    padding:50px 30px;
    font-size:16px;
    @include responsive-text();
    @include mq(800px) {
        padding:30px 20px;
    }
    @include mq(600px) {
        padding:20px 10px;
    }
    .contact-form-container {
        overflow:hidden;
        padding:30px;
        border:2px solid $navy80;
        background-color:$dark_navy;
        @include border-radius(10px);
        position:relative;
        @include mq(800px) {
            padding:20px;
        }
        @include mq(600px) {
            padding:15px;
        }
        .gradient {
            position:absolute;
            top:-125%;
            left:50%;
            @include translate(-50%, 0);
            width:150%;
            height:200%;
            z-index:1;
            background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
            opacity:0.5;
        }
        .contact-form-text {
            width:40%;
            box-sizing:border-box;
            padding-right:30px;
            float:left;
            position:relative;
            z-index:2;
            @include mq(800px) {
                width:100%;
                float:none;
                padding:0;
                margin-bottom:20px;
            }
            .contact-form-phone {
                margin-top:50px;
                width:50%;
                float:left;
                @include mq(1000px) {
                    margin-top:20px;
                }
                @include mq(800px) {
                    display:inline-block;
                    float:none;
                    width:auto;
                    margin-right:10px;
                }
                img {
                    width:30px;
                    @include mq(1000px) {
                        width:25px;
                    }
                }
            }
            .contact-form-email {
                margin-top:50px;
                width:50%;
                float:left;
                @include mq(1000px) {
                    margin-top:20px;
                }
                @include mq(800px) {
                    display:inline-block;
                    float:none;
                    width:auto;
                }
                img {
                    width:30px;
                    @include mq(1000px) {
                        width:25px;
                    }
                }
            }
            .contact-form-message {
                clear:both;
                padding-top:20px;
            }
        }
        .contact-form-form {
            float:left;
            width:60%;
            position:relative;
            z-index:2;
            @include mq(800px) {
                width:100%;
                float:none;
            }
            label {
                color:$navy40;
                font-weight:400;
                margin-bottom:5px;
            }
            .wpforms-field {
                clear:none;
                @include mq(800px) {
                    padding:5px 0;
                }
                input, select {
                    max-width:none;
                    width:100%;
                    box-sizing:border-box;
                    &.wpforms-error {
                        border:1px solid $red;
                    }
                }
            }
            .wpforms-error {
                margin-top:8px;
                color:$red;
            }
            .first-name, .last-name {
                width:calc(50% - 10px);
                float:left;
                @include mq(600px) {
                    width:calc(50% - 5px);
                }     
            }
            .first-name {
                margin-right:10px;
                @include mq(600px) {
                    margin-right:5px;
                }
            }
            .last-name {
                margin-left:10px;
                @include mq(600px) {
                    margin-left:5px;
                }
            }
            .email {
                clear:left;
                width:100%;
            }
            .company, .state {
                width:calc(50% - 10px);
                float:left;
                @include mq(600px) {
                    width:calc(50% - 5px);
                }    
            }
            .company {
                margin-right:10px;
                @include mq(600px) {
                    margin-right:5px;
                }
            }
            .state {
                margin-left:10px;
                @include mq(600px) {
                    margin-left:5px;
                }
            }
            .message {
                clear:left;
            }
            .submit {
                display:inline-block;
                height:45px;
                line-height:45px;
                padding:0 30px;
                font-size:16px;
                @include border-radius(5px);
                @include transition(300ms);
                text-decoration:none;
                font-weight:300;
                width:100%;
                background-color:$gold;
                margin-top:20px;
                border:0px;
                color:$white;
            }
        }
    }
}