.plan-cards {
    font-size:16px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    max-width:1440px;
    margin:0 auto;
    @include responsive-text();
    .plan-card {
        overflow:hidden;
        width:calc(33.33% - 30px);
        margin:15px;
        float:left;
        border:2px solid $navy80;
        @include border-radius(10px);
        box-sizing:border-box;
        padding:30px;
        position:relative;
        .plan-card-price {
            h1, h2, h3, h4, h5, h6, p {
                display:inline-block;
            }
        }
        .button-solid-gold {
            margin-top:20px;
        }
        ul {
            margin-top:30px;
            li {
                overflow:hidden;
                padding:12px 0;
                position:relative;
                &:after {
                    content:'';
                    height:1px;
                    background: linear-gradient(to right, rgba(67,76,87,0) 0%,rgba(67,76,87,1) 25%,rgba(67,76,87,1) 75%,rgba(67,76,87,0) 100%);
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                }
                &:last-of-type {
                    &:after {
                        display:none;
                    }
                }
                img {
                    width:25px;
                    float:left;
                }
                p {
                    float:left;
                    width:calc(100% - 25px);
                    box-sizing:border-box;
                    padding:5px 0 0 10px;
                }
            }
        }
        .gradient {
            position:absolute;
            top:-115%;
            left:50%;
            @include translate(-50%, 0);
            width:200%;
            height:200%;
            z-index:-1;
            background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
            opacity:0.4;
        }
        .see-all-details {
            color:$white;
            margin-top:20px;
            display:inline-block;
        }
    }
}
.plan-cards-contact {
    position:fixed;
    top:50%;
    left:50%;
    z-index:12;
    overflow-x:hidden;
    background-color:$dark-navy;
    height:calc(100vh - 40px);
    max-height:800px;
    width:calc(100% - 40px);
    max-width:700px;
    box-sizing: border-box;
    @include translate(-50%, -40%);
    padding:30px 40px;
    border:1px solid $navy80;
    @include border-radius(10px);
    opacity:0;
    visibility:hidden;
    @include transition(300ms);
    box-shadow:0 10px 20px rgba(13, 20, 28, 0.7), 0 6px 6px rgba(13, 20, 28, 1);
    &.active {
        opacity:1;
        visibility:visible;
        @include translate(-50%, -50%);
    }
    .gradient {
        position:absolute;
        top:-115%;
        left:50%;
        @include translate(-50%, 0);
        width:200%;
        height:200%;
        z-index:-1;
        background: radial-gradient(ellipse at center, rgba(110,143,191,1) 0%,rgba(110,143,191,0) 67%);
        opacity:0.4;
    }
    #plan-cards-contact-close {
        width:20px;
        height:20px;
        position:absolute;
        top:15px;
        right:15px;
        background-image:url('images/icon-close-white.png');
        background-size:100%;
        background-position:center center;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    .plan-cards-form {
        margin-top:20px;
        max-height:500px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width:10px;
        }
        &::-webkit-scrollbar-track {
            background:$dark-navy;
            border-radius:10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color:$navy80;
            border-radius:10px;
            border:2px solid $dark-navy;
        }
        .wpforms-field {    
            label {
                color:$navy40;
                font-weight:400;
                margin-bottom:5px;
            }
            legend {
                color:$white;
                font-size:20px;
                font-weight:500;
                margin-bottom:10px;
            }
            input[type="text"], select {
                max-width:none;
                width:100%;
                box-sizing:border-box;
                &.wpforms-error {
                    border:1px solid $red;
                }
            }
        }
        .wpforms-error {
            margin-top:8px;
            color:$red;
        }
        li {
            margin-bottom:5px;
        }
        .wpforms-submit {
            background-color:$gold;
            display:inline-block;
            height:45px;
            line-height:45px;
            padding:0 30px;
            font-size:16px;
            @include border-radius(5px);
            @include transition(300ms);
            text-decoration:none;
            font-weight:300;
            border:none;
            color:$white;
        }
    }
}
.plan-card-all-details {
    position:fixed;
    top:50%;
    left:50%;
    z-index:12;
    overflow-x:hidden;
    background-color:$dark-navy;
    height:calc(100vh - 40px);
    max-height:800px;
    width:calc(100% - 40px);
    max-width:700px;
    box-sizing: border-box;
    @include translate(-50%, -40%);
    padding:30px 40px;
    border:1px solid $navy80;
    @include border-radius(10px);
    opacity:0;
    visibility:hidden;
    @include transition(300ms);
    box-shadow:0 10px 20px rgba(13, 20, 28, 0.7), 0 6px 6px rgba(13, 20, 28, 1);
    @include mq(600px) {
        padding:20px;
    }
    &.active {
        opacity:1;
        visibility:visible;
        @include translate(-50%, -50%);
    }
    .all-details-close {
        width:20px;
        height:20px;
        position:absolute;
        top:15px;
        right:15px;
        background-image:url('images/icon-close-white.png');
        background-size:100%;
        background-position:center center;
        background-repeat:no-repeat;
        cursor:pointer;
        @include mq(800px) {
            width:15px;
            height:15px;
        }
    }
    .all-details-list {
        margin-top:20px;
        padding-top:20px;
        border-top:1px solid $navy80;
        max-height:500px;
        overflow-y: scroll;
        font-size:16px;
        @include responsive-text();
        &::-webkit-scrollbar {
        width:10px;
        }
        &::-webkit-scrollbar-track {
            background:$dark-navy;
            border-radius:10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color:$navy80;
            border-radius:10px;
            border:2px solid $dark-navy;
        }
        .all-details-list-item {
            margin-bottom:20px;
            @include mq(800px) {
                margin-bottom:15px;
            }
            h3 {
                color:$white;
                margin-bottom:10px;
                padding:0 0 0 35px;
                font-size:1.25em;
                background-image:url('images/icon-check-blue.png');
                background-position:left center;
                background-size:25px;
                background-repeat:no-repeat;
                @include mq(1000px) {
                    background-size:20px;
                    padding:0 0 0 25px;
                }
                @include mq(600px) {
                    background-size:15px;
                    padding:0 0 0 20px
                }
            }
            p {
                font-size:1em;
            }
        }
    }
}
.all-plan-inclusions {
    overflow:hidden;
    margin-top:20px;
    font-size:16px;
    @include responsive-text();
    h3 {
        text-align:center;
        font-size:1.25em;
        font-weight:600;
        margin-bottom:10px;
    }
    ul {
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        max-width:1000px;
        overflow:hidden;
        text-align:center;
        li {
            margin:5px 15px 5px 0;
            color:$navy40;
            display:inline-block;
            img {
                width:22px;
                margin-right:5px;
                @include mq(800px) {
                    width:15px;
                }
            } 
        }
    }
}