.block-heading-narrative {
    font-size:16px;
    text-align:center;
    width:100%;
    padding:30px 0;
    @include responsive-text();
    @include mq(1000px) {
        padding:20px 0;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin:10px 0;
        position:relative;
        left:50%;
        @include translate(-50%, 0);
    }
    #heading-narrative-buttons {
        margin-top:30px;
        @include mq(800px) {
            margin-top:20px;
        }
        a {
            margin:0 5px;
            @include mq(800px) {
                margin-bottom:10px;
            }
        }
    }
}